<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="/post/{{post.id}}">{{title}}</a>
            </div>
            <div class="meta">
                by {{post.user.username}} on {{post.created_at}}
                <br>
                {{post.comments.length}} {{format_plural "comment" comments.length}}

            </div>
        </article>
    </li>
    {{/each}}
</ol>